/* Generating Color Pack*/
.color-highlight {
  color: #979da5 !important;
}

.bg-highlight {
  background-color: #979da5 !important;
  color: #FFF !important;
}

.border-highlight {
  border-color: #979da5 !important;
}

.gradient-highlight {
  background-image: linear-gradient(to bottom, #d3d3d3, #979da5) !important;
}

.gradient-menu {
  background-image: linear-gradient(130deg, #7ea5f6, #ff384c) !important;
}

/*Input Fields*/
.input-style .input-style-1-active {
  color: #d3d3d3 !important;
}

.input-style input:focus, .input-style textarea:focus, .input-style select:focus {
  border-color: #d3d3d3;
}
